<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerClass="LimeDeck\Testing\Printer"
         processIsolation="false"
         stopOnFailure="false"
         failOnWarning="true"
         stopOnError="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Grananda AwsFaceMatch Package Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="./.build/report.tap" showUncoveredFiles="true"/>
        <log type="junit" target="./.build/report.junit.xml" showUncoveredFiles="true"/>
        <log type="coverage-html" target="./.build/coverage" showUncoveredFiles="true"/>
        <log type="coverage-text" target="./.build/coverage.txt" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="./.build/logs/clover.xml" showUncoveredFiles="true"/>
    </logging>
</phpunit>
